@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron Jumbo_Bacground">

    <div class="container justify-content-center text-center">

        <h1 class="font-weight-bold text-white" style="font-family:Montserrat;font-size:45pt;">
            Welcome to Nugget!
        </h1>
        <h6 class="font-weight-bold text-white p-3" style="font-family:Montserrat;">

            Nugget is the number one wildly-used event marketing website in South Africa as a whole.We have events across Cities both known and unknown.
            Just browse through the site and find yourself an event quite close to your neighbourhood.

        </h6>

        <h4 class="font-weight-bold text-white text-center p-3" style="font-family:Montserrat;">
            Event Gurus At Your Doorstep...
        </h4>
        <form class="form-inline justify-content-center p-3 " style="z-index:10;">
            <input type="text" role="textbox" class="form-control form-control-lg" placeholder="Search for..." />
            <button class="btn btn-lg btn-primary font-weight-bold" style="margin:4px;"> <i class="fa fa-search"></i>Search</button>
        </form>
        <div class="row justify-content-center text-center">
            <div class="col-lg-4">
                <div class="card">

                    <div class="card-header bg-dark">
                        <h3 class="font-weight-bold text-center text-white" style="font-family:Montserrat">
                            Jazz Festival
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fa fa-calendar"> 14 Feb 2019</i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-money"> R 400 </i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-calendar-times-o"> 6PM - 6AM </i>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark text-center font-weight-bold"><i class="fa fa-info-circle"></i> View More</button>
                    </div>


                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">

                    <div class="card-header bg-dark">
                        <h3 class="font-weight-bold text-center text-white" style="font-family:Montserrat">
                            Macufe Bloem
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fa fa-calendar"> 14 Oct 2019</i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-money"> R 400 </i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-calendar-times-o"> 6PM - 6AM </i>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark text-center font-weight-bold"><i class="fa fa-info-circle"></i> View More</button>
                    </div>


                </div>
            </div>
            <div class="col-lg-4">

                <div class="card ">

                    <div class="card-header bg-dark">
                        <h3 class="font-weight-bold text-center text-white" style="font-family:Montserrat">
                            Durban July
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fa fa-calendar"> 06 July 2019</i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-money"> R 400 </i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-calendar-times-o"> 6PM - 6AM </i>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark text-center font-weight-bold"><i class="fa fa-info-circle"></i> View More</button>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>