
@{
    ViewBag.Title = "Verify Email Address";
}

<div class="jumbotron Jumbo_Bacground justify-content-center text-center">

    <img src="~/Images/Untitled-1.png" height="100" width="300" class="img-fluid justify-content-center text-center" />
    <h3 class="text-center p-3 text-white font-weight-bold" style="font-family:Montserrat">
       
     A confirmation email has been sent to the email you provided, please check your email and confirm your account.
    
    </h3>

</div>

