@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="jumbotron Jumbo_Bacground justify-content-center text-center">
    <img src="~/Images/Untitled-1.png" height="100" width="300" class="img-fluid justify-content-center text-center" />

    <p class="text-white font-weight-bold p-2" style="font-family:Montserrat;">
        Please check your email to reset your password.
    </p>
</div>
	
