@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="jumbotron Jumbo_Bacground text-center justify-content-center">

    <img src="~/Images/Untitled-1.png" height="100" width="300" class="img-fluid justify-content-center text-center" />

    <p class="font-weight-bold text-white" style="font-family:Montserrat">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
